<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="5.2.0" targetFramework="xamarinios10" />
  <package id="DryIoc.dll" version="3.0.2" targetFramework="xamarinios10" />
  <package id="Microcharts" version="0.8.3-pre" targetFramework="xamarinios10" />
  <package id="Microcharts.Forms" version="0.8.3-pre" targetFramework="xamarinios10" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="xamarinios10" />
  <package id="Prism.DryIoc.Forms" version="7.1.0.431" targetFramework="xamarinios10" />
  <package id="Prism.Forms" version="7.1.0.431" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="1.59.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="1.59.1.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views.Forms" version="1.59.1.1" targetFramework="xamarinios10" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.4.4.859" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.4.859" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.4.4.859" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.0.0.346134-pre9" targetFramework="xamarinios10" />
</packages>