<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="5.2.0" targetFramework="xamarinios10" />
  <package id="DryIoc.dll" version="4.0.7" targetFramework="xamarinios10" />
  <package id="Microcharts" version="0.9.0" targetFramework="xamarinios10" />
  <package id="Microcharts.Forms" version="0.9.1" targetFramework="xamarinios10" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="xamarinios10" />
  <package id="Prism.DryIoc.Forms" version="7.2.0.1422" targetFramework="xamarinios10" />
  <package id="Prism.Forms" version="7.2.0.1422" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="2.80.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views.Forms" version="2.80.1" targetFramework="xamarinios10" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="xamarinios10" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.7.0.1179" targetFramework="xamarinios10" />
</packages>